// reset.css
@import "./_reset";

.question {
  max-width: 620px;
  color: #031831;
  margin: 0 auto;
  margin-top: 150px;

  &__title {
    font-size: 17px;
    line-height: 20px;
    font-weight: 600;
    display: inline-block;

    &::after{
      display: block;
      margin-top: 10px;
      width: 120px;
      height: 2px;
      background-color: #00ab36;
      content: '';
    }
  }

  &__img {
    width: 100%;
  }

  &__lists {
    list-style: none;
  }

  &__list {
    font-size: 16px;
    display: block;
    border: 1px solid #ebebeb;
    padding: 13px;
    margin: 10px 0;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 3px 2px -2px rgb(0 0 0 / 13%);
  }
}